.authPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
   
}   

.authFooter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 

}
