// @media screen and (max-width: 700px) {
.footer-container{
  position: relative;
  width: 100%;
    display: flex;
    justify-content: center;
    // background: red;
    text-align: center;
    flex-direction: column;
    height: 100px; 
}
.instagram-footer-icons {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background-color: #fff;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height:auto;
  width: 375px;
  z-index: 10;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      height: 24px;
      fill: #262626;
    }

    img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.footer{
    // margin-top: 30px;
    width: 375px;
    height: 1rem;
    // border: solid 1px #dbdbdb;
    display: flex;
    align-items: last baseline;
    justify-content: center;
}
