.footer{
    margin-top: 30px;
    width: 100%;
    height: auto;
    // border: solid 1px #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
    
}