.profile-edit-container {
  width: 24rem;
  height: 100vh;
  background-color: #fafafa;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.edit-wrapper{
  overflow-y: auto;
  color: #262626;
  font-weight: 500px;

  .top {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    .active{
      font-weight: 700;
    }
    .done{
        color: #3897F0;
        font-weight: 600;
    }
  }

  > div:nth-child(2) {
    margin: 1rem auto;
    text-align: center;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 0.5rem;
    }

    p {
      color: #3897F0;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
    }
  }

  // Profile Info Table
  > div:nth-child(3) {
    padding: 0 1rem;

    table {
      width: 100%;
      border-collapse: collapse;

      tr {
        height: 50px;

        td {
          font-size: 16px;
          color: #262626;
          vertical-align: middle;

          &:last-child{
            border-bottom: 1px solid #eeebeb;
          }

          &:first-child {
            width: 30%;
            font-weight: 500;
          }

          &:last-child {
            width: 70%;
            padding-left: .6rem;
          }
        }
        .website{
            color: #8e8e8e;
        }
        a{
         text-decoration: none;

        }
      }
      tr:last-child td:last-child{
        border-bottom: none;
      }
    }
  }

  // Switch to Professional Account
  > div:nth-child(4) {
    margin-top: 1rem;
    padding: .3rem 1rem .2rem 1rem;
    border-top: 1px solid #dbdbdb;

    p {
      font-size: 14px;
      font-weight: 500;
      color: #3897F0;
      cursor: pointer;
    }
  }

  // Private Information Section
  > div:nth-child(5) {
    padding: 0 1rem 1.5rem 1rem;

    h3 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      tr {
        height: 50px;

        td {
          font-size: 16px;

          &:last-child{
           border-bottom: 1px solid #dbdbdb;
          }
          &:first-child {
            width: 30%;
            font-weight: 500;
          }

          &:last-child {
            width: 70%;
            padding-left: 1rem;
          }
        }
      }
      tr:last-child td:last-child{
        border-bottom: none;
      }
    }
  }
}
